.photo-grid{
  margin: 0 48px;
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows:auto;
  gap: 16px;
  overflow: hidden;
  max-width: 1184px;
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
  .photo-grid{
    gap: calc(14px + (16 - 14) * ((100vw - 1024px) / (1280 - 1024)));
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .photo-grid{
    gap: calc(16px + (14 - 16) * ((100vw - 768px) / (1024 - 768)));
    margin-left: calc(24px + (48 - 24) * ((100vw - 768px) / ( 1024 - 768)));
    margin-right: calc(24px + (48 - 24) * ((100vw - 768px) / ( 1024 - 768)));
    margin-bottom: 88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .photo-grid{
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / ( 768 - 320)));
    margin-right: calc(16px + (24 - 16) * ((100vw - 320px) / ( 768 - 320)));
    margin-bottom: calc(64px + (88 - 64) * ((100vw - 320px) / ( 768 - 320)));
    gap: calc(12px + (16 - 12) * ((100vw - 320px) / ( 768 - 320)));
    max-width: 1184px;
  }
}
