.header{
  padding-left: 48px;
  padding-right: 48px;
  display:flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 56px;
  align-items: end;
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .header{
    padding-bottom: calc(48px + (56 - 48) * ((100vw - 1024px) / ( 1280 - 1024)));
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .header{
    padding-bottom: 48px;
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px) / ( 1024 - 768)));
    padding-right: calc(24px + (48 - 24) * ((100vw - 768px) / ( 1024 - 768)));
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .header{
    padding-bottom: 48px;
    padding-left: calc(16px + (24 - 16) * ((100vw - 320px) / ( 768 - 320)));
    padding-right: calc(16px + (24 - 16) * ((100vw - 320px) / ( 768 - 320)));
    padding-top: calc(16px + (28 - 16) * ((100vw - 320px) / ( 768 - 320)));
  }
}
