.intro__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 690px;
  margin-bottom: 33px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .intro__text{
    max-width: calc(720px + (690 - 720) * ((100vw - 768px) / (1024 - 768)));
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .intro__text{
    width: calc(288px + (720 - 288) * ((100vw - 320px) / ( 768 - 320)));
    margin-bottom: 34px;
  }
}
