.lead__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  width: 640px;
  margin-bottom: 64px;
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .lead__subtitle{
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / ( 768 - 320)));
    line-height: calc(20px + (36 - 20) * ((100vw - 320px) / ( 768 - 320)));
    width: calc(288px + (640 - 288) * ((100vw - 320px) / ( 768 - 320)));
    margin-bottom: calc(40px + (56 - 40) * ((100vw - 320px) / ( 768 - 320)));
  }
}
