.cover {
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 48px;
  margin-right: 48px;
  max-width: 1184px;
  min-height: 740px;
  margin-bottom: 92px;
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
  .cover{
    margin-left: calc(0px + (48 - 0) * ((100vw - 1024px) / (1280 - 1024)));
    margin-right: calc(0px + (48 - 0) * ((100vw - 1024px) / (1280 - 1024)));
    max-width: calc(1024px + (1184 - 1024) * ((100vw - 1024px) / (1280 - 1024)));
    min-height: calc(640px + (740 - 640) * ((100vw - 1024px) / (1280 - 1024)));
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .cover{
    margin-left: 0;
    margin-right: 0;
    max-width: calc(768px + (1024 - 768) * ((100vw - 768px) / ( 1024 - 768)));
    min-height: calc(480px + (640 - 480) * ((100vw - 768px) / ( 1024 - 768)));
    margin-bottom: 88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .cover{
    margin-left: 0;
    margin-right: 0;
    max-width: calc(320px + (768 - 320) * ((100vw - 320px) / ( 768 - 320)));
    min-height: calc(200px + (480 - 200) * ((100vw - 320px) / ( 768 - 320)));
    margin-bottom: calc(64px + (88 - 64) * ((100vw - 320px) / ( 768 - 320)));
  }
}
