.lead__caption{
  margin-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .lead__caption{
    margin-left: calc(24px + (0 - 24) * ((100vw - 768px) / ( 1024 - 768)));
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .lead__caption{
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / ( 768 - 320)));
  }
}
