.cover__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-bottom: 32px;
  padding-top: 245px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
  .cover__title{
    padding-top: calc(195px + (245 - 195) * ((100vw - 1024px) / (1280 - 1024)));
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .cover__title{
    padding-top: calc(115px + (195 - 115) * ((100vw - 768px) / ( 1024 - 768)));
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .cover__title{
    padding-top: calc(33px + (115 - 33) * ((100vw - 320px) / ( 768 - 320)));
    padding-bottom: calc(16px + (33 - 16) * ((100vw - 320px) / ( 768 - 320)));
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / ( 768 - 320)));
    line-height: calc(35px + (76 - 35) * ((100vw - 320px) / ( 768 - 320)));
    max-width: calc(250px + (560 - 250) * ((100vw - 320px) / ( 768 - 320)));
  }
}
