.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 48px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .footer{
    margin-left: calc(24px + (48 - 24) * ((100vw - 768px) / ( 1024 - 768)));
    margin-right: calc(24px + (48 - 24) * ((100vw - 768px) / ( 1024 - 768)));
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .footer{
    flex-direction: column;
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / ( 768 - 320)));
    margin-right: 0;
  }
}
