.intro__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .intro__title{
    max-width: calc(720px + (690 - 720) * ((100vw - 768px) / (1024 - 768)));
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .intro__title{
    font-size: calc(32px + (54 - 32) * ((100vw - 320px) / ( 768 - 320)));
    line-height: calc(35px + (58 - 35) * ((100vw - 320px) / ( 768 - 320)));
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / ( 768 - 320)));
  }
}
